body {
    margin: 0;padding: 0;
    background-color: lightgray;
    position: relative;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;margin: 0;
    font-weight: 400;
    font-size: 16px;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}
.header {
    display: flex;
    padding: 30px 100px;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    flex: 0 1 300px ;
}
.header h1 {
    font-size: 28px;
    letter-spacing: 4px;
}
.header__contact {
    gap: 30px;
    font-size: 20px;
    display: flex;
}
.introduction {
    padding: 15px;
    border-bottom: 2px solid black;
}
.introduction p {
    font-size: 24px;
    letter-spacing: 2px;
}
.introduction h2 {
    font-size: 30px;
}
.introduction__image {
    width: 128px;
    height: 128px;
    margin: 0px auto;
}
.photos {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px 100px;
}

.a2a {
    align-self: flex-end;
}
.a4a {
    align-self: flex-end;
}
.photo {
    max-width: 50%;
    
    margin: 20px 0 20px 0;
}
.about h2 {
    font-size: 24px;
    text-align: center;
}
.about {
    font-size: 20px;
    padding: 15px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.donate h2 {
    font-size: 28px;
    text-align: center;

}
.donate {
    font-size: 20px;
    padding: 25px;
    word-spacing: 2px;
    letter-spacing: 1px;
}
p {
    margin: 0;
    padding: 0;
}
.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}
._active {
    display: inline-block;
}
.modal__img {
    height: 980px;
}
a:visited {
    color:inherit
}
a {
    text-decoration: none;
    color: inherit;
}
@media (max-width:425px) {
    .photos {
        padding: 0;
    }
    .photo {
        max-width: 75%;
    }
    .header__contact {
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    .header {
        justify-content: center;
    }
}